argparse
easydict
h5py
matplotlib>=3.8
numpy>=1.24
open3d>=0.17
opencv-python>=4.9
pyyaml>=6.0
scipy>=1.11
tensorboardX>=2.6
timm==0.9.12
tqdm>=4.66
transforms3d
termcolor
scikit-image>=0.21
imageio>=2.31
plotly>=5.18
black>=23.7
usort>=1.0
flake8>=6.1
flake8-bugbear
flake8-comprehensions